*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
 background-color: lightgray;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.option-sec{
    border: solid orangered 0.5rem;
  background-color: lightgray;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.opt-btn{
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    border: solid 5px orangered;
    margin: 2rem;
}

.option{
    width: 6rem;
    cursor: pointer
}


.option:hover{
transform: scale(1.2);
}


.activity-hdr{
    color: white;
    font-size: 4rem;
}

.activity-container{
    padding-bottom: 5rem;
}

.activity{
  background-color: lightgray;
  border: solid 2px orangered;
    padding: 2rem;
    margin: 2rem;
    width:100%;
    height: 100%;
    color: orangered;
    font-size: 3rem;
    list-style-type: none ;
    display: flex;
    justify-content: space-evenly
    
}

.date-area{
    display: flex;
    justify-content: center;
    background-color: lightgray;

}

.date-hdr{
    font-size: 1rem;
    padding: 0.5rem;
}

.fa-solid{
    cursor: pointer;
}

#myOptions{
    font-size: 2rem;
    width: 20px;
}


.fa-play{
    color: green;

}

.fa-circle-stop{
    color: red;
}

.logo{
    background-color: orangered;
    border-radius: 50%;
}

